{% extends 'base_transaction.html' %}
{% block title %}Изменить операцию{% endblock %}

{% block form %}

<form class="mt-5" method="post" name='update_transaction' action='{{transaction.get_update_url}}' autocomplete="off">
  {% csrf_token %}
  <fieldset>
    <legend>{{form_legend}}</legend>


    {% for field in form %}
    <div class="form-group">
      <label for={{field.id_for_label}}>{{ field.label }}</label>

      {% if field.errors%}
      <div class="alert alert-danger p-0 m-0">
        {{ field.errors }}
      </div>
      {% endif %}

      {{ field }}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-info">Изменить операцию</button>
      <a href={% url 'external_transaction_dashboard_url' %} class="btn btn-outline-secondary">К списку операций</a>
    </div>
  </fieldset>
</form>



{% endblock %}
